@import "nord.css";

body {
  background: var(--nord0);
  color: var(--nord6);
  margin: 0;
  font-family: Iosevka, Iosevka Web;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
}

.red {
  background-color: var(--nord11);
}

.yellow {
  background-color: var(--nord13);
}

.green {
  background-color: var(--nord14);
}

.orange {
  background-color: var(--nord12);
}

.aqua {
  background-color: var(--nord7);
}

.blue {
  background-color: var(--nord8);
}

.med-blue {
  background-color: var(--nord9);
}

.dark-blue {
  background-color: var(--nord10);
}

.black {
  background-color: var(--nord3);
}

.tile {
  width: 10vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  margin: 2vh;
  border-radius: 1vh;
  cursor: pointer;
}

.tile:hover {
  box-shadow: inset 0 0 5vh 5vh rgba(255, 255, 255, 0.2);
}

.head {
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.os {
  width: 20vh;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: var(--nord1);
  max-width: 72vw;
  padding: 2vh;
  margin: auto;
  border-radius: 1vh;
}
